body {
    font-family: Halvicia;
    text-align: center;
    background-color: rgb(218, 223, 228);
    
}

h1 {
    font-weight: bold;
    color: rgb(66, 122, 241);
    font-size: 50px;
}
h3 {
    font-size: 20px;
    font-weight: normal;
    color: black !important;
}

.container {
    background: #fff;
    padding: 14px 16px;
    width: 330px;
    text-align: center;
    margin: 0px  350px;
    opacity: 0,50;
    border-radius: 15px;
   
}
button {
    background-color: rgb(90, 135, 219);
    border-radius: 6px;
    display: inline-block;
    padding-top: 6px;
   text-align: center;
    border: none;
    line-height: 48px;
    width: 332px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}
a {
    color: #1877f2;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

